# =========================
# Ambiente virtual
# =========================
venv/
.venv/
env/
ENV/


# =========================
# Cache e arquivos Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Logs
# =========================
*.log

# =========================
# Variáveis de ambiente / segredos
# =========================
.env
.env.*
!.env.example